.header {
<<<<<<< Updated upstream
  background-color: #20565d;
=======
  background-color: rgb(55, 97, 130);
>>>>>>> Stashed changes
  padding: 10px;
  color: #fff;
}

.header-title {
  font-size: 24px;
  margin-right: 20px;
}
