.header {
  background-color: rgb(55, 97, 130);
  padding: 10px;
  color: #fff;
}

.header-title {
  font-size: 24px;
  margin-right: 20px;
}

button.mat-button-active {
  background-color: #19d298;
  color: white;
}
